.input {
    padding: 12px 20px;
    margin: 3px 0;  
    background-color: var(--wur-licht-grijs);
    height: 24px;
    font-size: 18px;
    display: block;
    border: 3px solid var(--wur-licht-grijs);
}

.length-short {
    width: 290px;
}

.length-medium {
    width: 580px;
}

.searchbar::placeholder, .searchbar::-ms-input-placeholder {
    color: black;
    opacity: 0.7;
}

.input-label {
    margin: 0;
    color: var(--wur-zwart);
}

.input-label-error {
    color: var(--wur-rood);
}

.input:focus {
    border: 3px solid var(--wur-zwart);
}

.error {
    padding: 0.1rem;
    color: var(--wur-rood);
    display: inline-block;
}

.input-component {
    height: 7rem;
}

.input-error {
    background: url(../../assets/icons/error-exclamationmark.svg) no-repeat scroll 12px 12px;
    background-size: 580px 24px;
    background-color: var(--wur-error-bg);
    border: 3px solid var(--wur-rood);
}

input.input-error:autofill {
    background: var(--wur-error-bg);
    background: url(../../assets/icons/error-exclamationmark.svg) no-repeat scroll 12px 12px;
    background-size: 580px 24px;
    background-color: var(--wur-error-bg);
}