.select {
    border: none;
    margin: 3px 0;
    color: var(--wur-zwart);
    background-color: var(--wur-licht-grijs);
    font-size: 18px;
    display: block;
    height: 52px;
    padding: 12px 20px;
}

.select-label {
    margin: 0;
}

.select-normal {
    width: 290px;
}


.select-large {
    width: 100%;
}

.dropwdown {
    background-color: var(--wur-groen);
    color: var(--wur-wit);
    width: 12.5rem;
}

.select-error {
    background: url(../../assets/icons/error-exclamationmark.svg) no-repeat scroll 12px 12px;
    background-size: 580px 24px;
    background-color: var(--wur-error-bg);
    border: 3px solid var(--wur-rood);
}

.select-label-error {
    color: var(--wur-rood);
}