.navbar {
    background-color: var(--wur-zwart);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding: 0 10%;
    justify-content: space-between;
    margin-bottom: 50px;
    width: calc(80%);
    position: fixed;
    top: 0;
}

.branding {
    color: var(--wur-wit);
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 200px;
}

a {
    text-decoration: none;
}

.nav-link {
    color: var(--wur-wit);
    font-size: 20px;
    line-height: 29px;
}

.nav-link:hover {
    text-decoration: underline  ;
}

.nav-links {
    display: flex;
    column-gap: 3rem;
}

.nav-account-button {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.person-icon {
    fill: var(--wur-wit) !important;
}

.nav-dropdown {
    height: 2.5rem;
    width: 10rem;
    background-color: var(--wur-zwart);
    color: var(--wur-wit);
    font-size: 20px;
    border: none;
}